#conditions{
    & button{
        margin-left: auto;
    }
}

#send{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    width: 11rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var( --brand-color-dark);
    cursor: pointer;

    & img{ 
        width: 1.25rem;
        height: 1.25rem;
    }

    & p{
        color: var(--text-body);
        font-size: large;
    }
}