input, textarea{
    appearance: none;
    width: 100%;

    border: 1px solid var(--input-color-stroke);
    border-radius: .5rem;
    background-color: var(--input-color-base);
    padding: .8125rem 1rem;
    color: var(--input-color-placeholder);
}

input:focus, 
input:hover,
textarea:focus,
textarea:hover{
    border-color: var(--brand-color-light);
}

input:invalid{
    border-color: var(--danger-color);
}   