#app{
    display: grid;
    grid-template-columns: 32.7% 67.3%;
    gap: 20px;
    height: 100vh;
    padding: 1.25rem;

    background-color: var(--color-bg);
}

aside{
    background: url(../assets/Background.png) no-repeat center/cover;
    max-width: 25rem;
    border-radius: .75rem;

    & header{
        margin: 2rem;
        
        & div img{
            margin-bottom: 1rem;
        }
    }

    & header > img {
        margin-bottom: 1rem;
    }
}

main{
    overflow: auto;
    background: var(--color-page) no-repeat center;
    border-radius: .75rem;

}