@import url(./type-selector.css);
@import url(./color-selector.css);
@import url(./theme-selector.css);

/*------------------*/

.radio-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
}

.radio-inner{

    & input,
    & input:hover,
    & input:focus{
        all: unset;

    }

    & label {
        cursor: pointer;
    }
}


